<?xml version="1.0" encoding="UTF-8"?>
<configuration status="DEBUG" name="codeStoryLogger">
    <appenders>
        <Console name="stdout-detail">
            <ThresholdFilter level="TRACE" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{mm:ss.SSS} [%t %p] %c{1}(%L) %m%n"/>
        </Console>
        <Console name="stdout">
            <ThresholdFilter level="TRACE" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{mm:ss.SSS} [%t %p] %m%n"/>
        </Console>
    </appenders>
    <ThresholdFilter level="TRACE"/>
    <loggers>
        <logger name="org.apache.zookeeper.ClientCnxn" level="ERROR" additivity="false">
            <appender-ref ref="stdout"/>
        </logger>

        <logger name="org.apache.zookeeper" level="WARN" additivity="false">
            <appender-ref ref="stdout"/>
        </logger>
        <logger name="tech.codestory" level="INFO" additivity="false">
            <appender-ref ref="stdout"/>
        </logger>
        <root level="WARN">
            <appender-ref ref="stdout"/>
        </root>
    </loggers>
</configuration>